p, div, h1, h2, h3, h4, h5, td, th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5 {
    font-size: 18px;
}
p, div, h6, td, th {
    font-size: 14.5px;
}
.text-lightly {
    color: #eee;
}